


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.block{
    display: flex;
    flex-direction: column;
    position:relative;
    height: 100vh;
    background: url('../img/img-somb.png');
    background-size: cover;
    background-position: right;
    object-fit: cover;
    margin: auto;
}


.login{
    display: flex;  
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: space-around;
    height: 304px;
    width: 255px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'inter';
    color: white;
    background: #6f6f6f52;
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.377);
}

.login input{
    background: white;
    border-radius: 10px;
    text-align: center;
    font-family: 'inter';
    font-weight: 400;
    width: 200px;
    padding: 5px;
    color: black;
}
.login button{
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 65px;
    border-bottom: 1px solid white;
}

.login h3{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #A28979;
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 10%;
    
}
.logo h2{
    font-size: 40px;
    font-family: 'montserrat alternates';
    font-weight: 300;
    font-style: italic;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.445);

}
.whatsapp , .nome{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}
