body{
    position: relative;
    font-family: 'montserrat';
}



.dia-da-semana, .mensagem, .servicos-agendados, .todos-servicos{
    margin-left: 30px;
    margin-bottom: 41px;

}

.dia-da-semana{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    width: auto;
}
.dia-da-semana h2{
    font-size: 20px;
}
.dia-da-semana span{
    text-align: right;
    font-size: 14px;
}
.mensagem{
    margin-bottom: 80px;
    margin-top: 40px;
}

.mensagem span{
    color: var(--laranja);
}
.servicos-agendados h2{
    font-weight: 500 ;
    color: rgba(0, 0, 0, 0.678);
}

.servicos-agendados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servico-agendado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 190px;
    width: 290px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    border-top: 1px solid rgba(0, 0, 0, 0.171);
}

.servico-agendado img{
    background-size: cover ;
    object-fit: cover;
    border-radius: 10px;
    width: 100px;
    height: 150px;
}

.descricao-servico{
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 150px;
}

.todos-servicos{
    color: var(--laranja);
}



.servicos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
    margin-bottom: 150px;
}

.page-content-inicio{
    display: flex;  
    justify-content: space-around;
    flex-direction: column;
    align-items: start; 
    height: 100%;
    background: var(--gelo);
    overflow: auto;
}

.swiper {
  width: 100%;
  height: 400px;
  padding: 10px;
}



.card-servico{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.411);
    overflow: hidden;
}

#micro{
    background-image: url('../img/img1.png');
    background-size: 100% cover;
    background-position: bottom ;
    object-fit: cover;

}
#alongamento{
    background-image: url('../img/img2.png');
    background-size: cover;
    background-position: 0px -150px   ;
}
#design{
    background-image: url('../img/img3.jpeg');
    background-size: cover;
    background-position: 0px -70px;
}


.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50%;
    width: 100%;
    background: var(--laranja);
    border-radius: 18px 18px 0 0 ;
    color: white;
}

.descricao p{
    font-weight: 600;
    font-family: 'montserrat alternates';
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    border-bottom: 1px solid white;
}

.btn-agendar{
    border: none;
    width: 6rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: #FFE0B2;
    color: #3E2522;
    font-weight: 600;
}

.btn-excluir{
    border: none;
    background: var(--laranja);
    color: var(--marrom);
    width: 50%;
    padding: 7px;
    border-radius: 10px;
    margin-left: 50%;
}

.vazio{
    background: var(--laranja);
    border-radius: 10px;
    height: 80%;
    padding: 10px;
}
.vazio h2{
    color: rgba(255, 255, 255, 0.733);
}
